<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Blog{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/DropDown.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="w-full h-screen relative">
    {% comment %} {% if user.is_authenticated%} 
     
    {% endif %} {% endcomment %}
    {% include "navBar.html" %}

    <main class="Main_Content w-full h-full pl-52">
      
        {% block content %} 
          {% include "first.html" %}  
        {% endblock content %}
      
        {% comment %} <p>
          Please <a href="{% url 'login-user'%}">login</a> to access more features.
        </p>
        <p>Or <a href="{% url 'register'%}">register</a> if you new</p> {% endcomment %}
      
    </main>
  </body>
</html>
