<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Blog{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/DropDown.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="w-full h-screen relative">

    {% include "navBar.html" %}

    <main class="Main_Content w-full h-full pl-48">
      
        {% block content %} 
          
        {% endblock content %}
      
    
      
    </main>
  </body>
</html>
