

{% block navBar %}
    <nav class="Side_Nav_Bar">
        <ul>
            <li><a href="/">Home</a></li>
            {% comment %} <li><a href={% url 'account' %}>Account</a></li> {% endcomment %}
            {% comment %} <li><a href={% url 'share-post' %}>Share Post</a></li> {% endcomment %}
            <li></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </nav>      
      
      
      

{% endblock %}