# docker-compose.yml
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: blog_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"


  # web:
  #   build: .
  #   command: python manage.py runserver 0.0.0.0:8000
  #   volumes:
  #     - .:/app
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     - DEBUG=1
  #     - POSTGRES_DB=blog_db
  #     - POSTGRES_USER=postgres
  #     - POSTGRES_PASSWORD=postgres
  #     - POSTGRES_HOST=db
  #     - POSTGRES_PORT=5432
  #   env_file:               # ADD THIS
  #   - .env  
  #   depends_on:
  #     - db
  #     - redis
  #   networks:
  #     - backend    

volumes:
  postgres_data:
  redis_data:

networks:
  backend:
    # Use a bridge network for internal communication, though not strictly
    # necessary since the host app connects via 'localhost'.
    driver: bridge

